.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  background-color: #01bf71;
  color: rgb(65, 64, 64);
  align-items: center;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 0px 12px 12px 0px;
}

.sidebar > ul {
  list-style-type: none;
  font-size: 28px;
}

.sidebar > ul > li {
  position: relative;
  margin-top: 100%;
}

.sidebar > ul > li:active {
  color: white;
}

.sidebar > ul > li:hover {
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.sidebar > button {
  font-size: 28px;
  background-color: #01bf71;
  color: rgb(65, 64, 64);
  border: none;
  margin-bottom: 10px;
}

.sidebar > button:hover {
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.active-tabs {
  color: white;
}

.content {
  display: none;
}

.active-content {
  display: block;
  height: 69%;
  margin: auto 1px;
  background-color: rgb(222, 222, 222);
  border-radius: 10px;
}
